.container {
   display: flex;
   flex-wrap: wrap;
}
.demo{
   width: calc(100% - 70vw);
   height: 200px;
   margin: 10px;
   border: 1px solid #ccc;
   border-radius: 10px;
   padding-left: 10px;
}

.count{
   height: 100px;
}

.count > span {
   float:right;
   border: 2px solid #000;
   padding: 10px;
   margin: 10px;
}